@use 'variables';
@use 'mixin';

main > header {
  @include mixin.mainTheme;
  height: 320px;
  width: 100vw;
  text-align: center;
  font-size: 2rem;
  background-image: url("https://www.transparenttextures.com/patterns/subtle-stripes.png");
}

@media only screen and (min-width: 1024px) {
  main > header {
    width: 30%;
    height: 340px;
    padding: 20px;
  }
}
