@use 'variables';

article {
  border: 2px solid black;
  margin: 2rem 0;
  &:hover {
    box-shadow: 5px 5px variables.$sub-base-color;
  }
  header {
    margin: 0 2%;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    .tweet-info {
      display: flex;
      align-items: center;
      .name {
        margin-left: 1rem;
      }
    }
    .tweet-account {
      display: flex;
      color: variables.$sub-base-color;
      align-items: center;
    }
  }
  .tweet {
    margin: 0 2%;
    padding: 1rem 1rem 2rem;
    border-bottom: 2px solid black;
    word-wrap: break-word;
  }
  footer {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    margin: 0 5%;
    font-size: 1rem;
    .tweet-icons {
      color: variables.$base-color;
      i {
        margin: 0 0.25rem;
        &:hover {
          color: variables.$icons-color;
        }
      }
    }
  }
}

@media only screen and (max-width: 420px) {
  article header {
    display: block;
  }

  article header .tweet-account {
    margin: 1rem;
  }
}
