main > header {
  background: #4056A1;
  color: white;
  height: 400px;
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2rem;
  background-image: url("https://www.transparenttextures.com/patterns/subtle-stripes.png");
}

@media only screen and (min-width: 1024px) {
  main > header {
    width: 30%;
  }
}
