article {
  border: 2px solid black;
  margin: 2rem 0;
}
article:hover {
  box-shadow: 5px 5px #85A9C3;
}
article header {
  margin: 0 2%;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
}
article header .tweet-info {
  display: flex;
  align-items: center;
}
article header .tweet-info .name {
  margin-left: 1rem;
}
article header .tweet-account {
  display: flex;
  color: #85A9C3;
  align-items: center;
}
article .tweet {
  margin: 0 2%;
  padding: 1rem 1rem 2rem;
  border-bottom: 2px solid black;
  word-wrap: break-word;
}
article footer {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  margin: 0 5%;
  font-size: 1rem;
}
article footer .tweet-icons {
  color: #4056A1;
}
article footer .tweet-icons i {
  margin: 0 0.25rem;
}
article footer .tweet-icons i:hover {
  color: #DF7401;
}

@media only screen and (max-width: 420px) {
  article header {
    display: block;
  }
  article header .tweet-account {
    margin: 1rem;
  }
}
